* {
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body, header, #items, h2, h3, #contents, #action, footer{
    display: flex;
}

body{
    flex-direction: column;
}

header{
    background-color:whitesmoke;
}

#title{
    margin-right: auto;
    padding: 15px 30px;
}

#item1, #item2, #item3, #item4{
    padding: 15px 60px 0 15px;
}

h2, h3, #contents{
    justify-content: center;
}

h2{
    padding: 12vh 0;
    background-color: #cedcec;
}

h3{
    padding: 3vh 0;
}

#contents{
    flex-wrap: wrap;
    height: 40vh;
}

#content1, #content2, #content3, #content4{
    margin: 8px;
    height: 120px;
    padding: 10px 200px;
    background-color: #8a98a7;
}

footer{
    margin: auto;
}

#action{
    padding: 15px 10px;
    background-color: #cedcec;
}