body{
    margin: 0;
    flex-direction: column;
}

header{
    right: 0;
    left: 0; 
    position: fixed;
    background-color:white;
}

body, header, #functions, #div-gemini{
    display: flex;
}

#title{
    margin-top: 0.5em;
}

#title{
    margin-left: 2em;
    margin-right: 3em;
}

#function1, #function2, #function3, #function4, #function5, #function6, #function7{
    margin-top: 1.2em;
    padding: 0 2em;
}

#search, #language{
    margin-top: 0.8em;
    margin-left: 5em;
}

#div-gemini{
    background-color: #1c73e8;
    z-index : -1;
}

#gemini{
    color: white;
    margin: 5em auto 1.5em;
    /* background-color: #1c73e8; */
}