body{
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

header{
    right: 0;
    left: 0; 
    position: fixed;
    background-color:white;
}

body, header, #functions, #div-gemini, #div-google, #div-selectinterest, #div-products{
    display: flex;
}

#title, #function1, #function2, #function3, #function4, #function5, #function6, #function7, #search, #language{
    margin-bottom: 0.5em;
    color: #5f6367;
} 

#title{
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 3em;
}

#function1, #function2, #function3, #function4, #function5, #function6, #function7{
    margin-top: 1.2em;
    padding: 0 2em;
}

#search{
    margin-top: 0.6em;
    margin-left: 5em;
    padding:0.4em 7em 0.4em 1em;
    background-color: #f1f3f4;
}

#language{
    margin-top: 0.8em;
    margin-left: 2em;
    padding: 0.2em 1em;
    border-style: solid;
}

#div-gemini{
    background-color: #1c73e8;
    z-index : -1;
}

#gemini{
    color: white;
    margin: 5em auto 1.5em;
}

#div-rewatchgoogle{
    width: 38em;
    height: auto;
    padding: 10em 0 7em 5em;
}

#div-google{
    margin-bottom: auto;
    background-color: #eeeeee;
}

#google{
    padding: 0 8em 7em 4em;
}

#rewatchgoogle{
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}

#demand {
    background-color: #1c73e8;
    border: none;
    color: white;
    padding: 13px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
  }

#div-interest{
    background-color: #f1f3f4;
    height: 56vh;
}

#interest{
    margin: 3em 2em;
    margin-right: auto;
    color: #5f6367;
}

#createaccount{
    margin: 3em 4em;
    color: #1c73e8;
}

#div-buttons{
    margin-left: 2em;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

#div-buttons button{
    background-color: white;
    border: 1px solid gainsboro;
    color: black;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
}

.div-product{
    width: 20em;
    height: 15em;
    margin-top: 1em;
    margin-left: 2em;
    background-color: white;
    border-radius: 8px;
    border: 1px solid gainsboro;
}

.product, .pname, .intro{
    margin-left: 1em;
    margin-right: 1em;
}
