
body {
	margin: 0;
    flex-direction: column;
}

header{
    background-color:whitesmoke;
}

body, header, #items, h2, h3, #contents, #contents2, #action, footer, .div-contents{
    display: flex;
}

#title{
    margin-right: auto;
    padding: 15px 30px;
}

#item1, #item2, #item3, #item4{
    padding: 15px 60px 0 15px;
}

#title, #item1, #item2, #item3, #item4, h2, h3{
    margin-top: 0;
    margin-bottom: 0;
}

h2, h3, #contents, #contents2, .content1, .content2, .content3, .content4{
    justify-content: center;
}

h2{
    padding: 4em 0;
    background: #cedcec;
}

h3{
    padding: 1em 0;
}

.contents{
    margin: 0 0 2em;
}

.div-contents{
    flex-wrap: wrap; 
    width: 79vw;
    height: 30vh;
}

.div-content1, .div-content2, .div-content3, .div-content4{
    width: 48%;
    height: 50%;
    margin: 8px;
    background-color: #8a98a7;
}

.content1, .content2, .content3, .content4{
    margin: 1em 10em;
}

#contents, #contents2{
    height: 265px;
}

footer{
    margin: 10px auto;
}

#action{
    padding: 15px 10px;
    background-color: #cedcec;
}

#action:hover{
    padding: 20px 15px;
    background-color: #cedcec;
}

#contents2{
    display: none;
}

@media screen and (min-width: 1200px) {
    .div-content1, .div-content2, .div-content3, .div-content4 {
        width: 454.656px;  
        height: 124px;
    }

    .div-contents{
        justify-content: center;
    }
}